body {
	font-family: fantasy;
}
#container {
	width:100%;
}
#header {
	background-color:#7FB500;
	
}
#menu {
	background-color:#FFD700;
	height:100%;
	width:auto;
	float:left;
}
#content {
	background-color:#EEEEEE;
	height:100%;
	width:100%;
}	